
<%- include('partials/header.ejs') %>

        <div class="container px-4 px-lg-5">
            <div class="row">
                <h1> New Articles </h1>

                <form action="/articles" class="" method="POST">
                    <%- include('partials/articlepartial.ejs') %>
                </form>
    
            </div>
    
            </div>
            
           
     <% include('partials/footer.ejs') %>